OrdererOrgs:
  # ---------------------------------------------------------------------------
  # Orderer
  # ---------------------------------------------------------------------------
  - Name: Orderer
    Domain: {organization}.com
    # ---------------------------------------------------------------------------
    # "Specs" - See PeerOrgs below for complete description
    # ---------------------------------------------------------------------------
    Specs:
      - Hostname: orderer

PeerOrgs:
  - Name: {organization}
    Domain: {organization}.com
    EnableNodeOUs: true
    Template:
      Count: 1
    Users:
      Count: 1
